<h1> News Feed </h1>

<form class="new-post">
  <textarea name="post[body]" placeholder="What's on your mind?"></textarea>
  <br>
  <input type="submit">
</form>

<br>

<% _.each(posts.toArray().reverse(), function(post) { %>
  <%= post.escape("body")%>
  <br>
  <%= post.get("created_at").slice(0, 10) %>
  <br>
  <br>
<% }) %>

  