<h1> News Feed </h1>

<form class="new-post">
  <textarea name="post[body]" placeholder="What's on your mind?"></textarea>
  <br>
  <input type="submit">
</form>

<br>

<% _.each(posts.toArray().reverse(), function(post) { %>
  <div class="post">
    <span class="author"><%= post.escape("author_id")%></span>
    <br>

    <%= post.escape("body")%>
    <br>

    <span class="timeago"><%= jQuery.timeago(post.escape("created_at"))%></span>
  </div>
<% }) %>


  