<center><h1> Your Groups </h1></center> 

<center>
  <span style="font-size:20px;">
    <%=link_to "New Group", new_user_group_url(current_user.id)%>
  </span>
  <br>
  <br>

  <div class="group-list">
  <%@groups.each do |group|%> 
    <%=link_to group.name, user_group_url(current_user.id, group.id)%>
    <br>
  <%end%>
  </div>
</center>