<form class="new-post" action="<%=user_posts_url(user_id)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <textarea class="textbox-post" name="post[body]" placeholder="What's on your mind?"></textarea>
  <br>
  <input class="button" type="submit" value="Share">
</form>