<h1> News Feed </h1>

<%=render "posts/new_post", :user_id => current_user.id %>

<div class="posts-all">
  <%@posts.reverse.each do |post|%>
    <div class="post-indiv">
      <%=render "posts/post", :post => post, :user_id => current_user.id%>
      <br>
      <%=render "posts/comments", :post => post, :user_id => current_user.id%>
    </div>
  <% end %>
</div>


