/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  font-family: 'Futura', sans-serif;
}

.header {
  display :block;
  background-color: rgba(105, 168, 223, 0.5);
  font-size: 15px;
}

.logo {
  float: left
}

.nav_button {
  float: right
}

div.post {
  border-width: 4px;
  border-style: outset;
  border-color: #800000;
  background-color: white;
  padding: 10px;
  width: 350px;
  height: 100px;
}

span.author {
  font-size: 22px;
  color: #0066FF;
}

span.timeago {
  font-style: italic;
  color: gray;
  font-size:13px;
  float: right;
  padding-top: 40px;
}
