/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: "Verdana"  
}

.login-field {
  width: 150px;
}

.navbar a{
  font-size: 22px;
  color:white;
}

.navbar {
  height: 40px;
}

.btn {
  background-color: #2980B9
}

h1 {
  text-align: center;
}


a:hover {
  cursor: pointer;
  text-decoration:underline;
}

.logo {
  font-size: 26px;
  float: left;
}

.nav_button {
  float: right;
}

.sidebar {
  float:left;
  border-style: solid;
  border-radius: 10px;
  font-size: 16px;
  width: 150px;
  display: inline;
}

.chat-bar {
  float:right;
  border-style: solid;
  border-radius: 10px;
  font-size: 16px;
  width: 150px;
  display: inline;
}

.posts-all {
  margin: 0 auto;
  width: 450px;
}

.tags {
  font-size: 14px;
}

.new-post {
  margin: 0 auto;
  width: 460px;
}

.file-submit {
  width: 200px;
}

.textbox-post {
  height: 100px;
  width: 470px;
}

.tag-dropdown {
  float:right;
  color: #2980B9;
}

.textbox-comment {
  width: 425px;
}

.post-indiv {
  border-width: 4px;
  border-style: outset;
  border-color: #800000;
  border-radius: 10px;
  padding: 10px;
  width: 450px;
}

.delete {
  width: 35px;
}

.author-post {
  font-size: 22px;
  color: #0066FF;
}

.timeago {
  font-style: italic;
  color: gray;
  font-size:14px;
  float: left;
}

.like-count {
  color: #0066FF;
  font-size: 17px;
  float: left;
}

.like-form {
  float: left;
}

.unlike-form {
  float:left;
}

.delete {
  float: right;
}

.author-comment {
  color: #0066FF;
  font-size: 15px;
}

.comment {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px 15px 35px 15px;
  width: 415px;
}

.comment-body {
  font-size: 13px;
}

.button {
  width: 100px;
}

.new-group-field {
  width: 250px;
}

#group-description {
  width: 500px;
  height: 300px;
}
